Source: bowtie2.0.0-beta5
Section: science
Priority: optional
Maintainer: The Genome Institute at Washington University <genome-dev@genome.wustl.edu>
Uploaders: Adam Coffman <acoffman@genome.wustl.edu>
Build-Depends: debhelper (>= 7), g++
Standards-Version: 3.9.2
Homepage: http://bowtie-bio.sourceforge.net/bowtie2

Package: bowtie2.0.0-beta5
Architecture: amd64
Depends: libc6
Provides: bowtie2
Description: Bowtie 2 is an ultrafast and memory-efficient tool for aligning sequencing reads to long reference sequences.
