#!/usr/bin/make -f

PKG="bowtie2.0.0-beta5"
VER="2.0.0-beta5"
DEB_DIR=debian/${PKG}
PWD=`pwd`
DEB_INST_DIR=${PWD}/${DEB_DIR}/usr/lib/${PKG}/bin

%:
	dh $@

build:
	make

override_dh_auto_configure:
	echo ""

override_dh_auto_install:
	mkdir -p ${DEB_DIR}/usr/bin
	mkdir -p ${DEB_INST_DIR}
	cp bowtie2-* ${DEB_INST_DIR}
	cp bowtie2 ${DEB_INST_DIR}
	for filename in ${DEB_INST_DIR}/* ; do \
		file=`basename $${filename}`; \
		echo "#!/bin/sh" > ${DEB_DIR}/usr/bin/$${file}${VER}; \
		echo "export PATH=/usr/lib/${PKG}/bin:\$$PATH; exec $$file \$$@" >> ${DEB_DIR}/usr/bin/$${file}${VER}; \
		done
